<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<title>Reinforce.js implementation of Stuart Armstrong's toy control problem</title>
<script type="text/javascript" src="https://raw.githubusercontent.com/karpathy/reinforcejs/master/lib/rl.js"></script>
<!--script type="text/javascript" src="./2016-02-02-2.2.0-jquery.min.js"></script-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://www.gwern.net/docs/rl/armstrong-controlproblem/controlproblem.js"></script>
</head>
<body>
<h1>DQN agent in toy control problem</h1>
<p id="Log"></p>
</ul>

</body>
</html>
