<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} </title>

		{% include meta.html %}

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

	</head>

	<body>

		<br/>
		<br/>

		<center>
		
		<img border="0" height="200" src="/images/mtrazzi.jpg" width="200" align="center"/>

		<div class="wrapper-footer">
			<div class="container">
				<footer class="footer">
					{% include svg-icons.html %}
						<strong align="center;"><a href="https://www.lesswrong.com/users/mtrazzi">LessWrong</a> • <a href="https://medium.com/@MichaelTrazzi">Medium</a> • <a href="https://blog.floydhub.com/author/michaeltrazzi/">FloydHub</a> • <a href="https://arxiv.org/search/cs?searchtype=author&amp;query=Trazzi%2C+M">arXiv</a></strong>
				</footer>
			</div>
		</div>


		</center>

		{% include analytics.html %}
	</body>
</html>
