<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} </title>

		{% include meta.html %}

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

	</head>

	<body>

		<center>


		<img border="0" height="200" src="/images/mtrazzi.jpeg" width="200" align="center"/>
        <br>

		<strong align="center;">
			Offline life, time tracking & RL: <a href="https://www.reddit.com/user/MuskFeynman/posts/">Reddit</a><br>
			Machine Learning & Focus: <a href="https://medium.com/@MichaelTrazzi">Medium</a><br>
			Reinforcement Learning: <a href="https://blog.floydhub.com/author/michaeltrazzi/">FloydHub</a><br>
			AI Safety: <a href="https://www.lesswrong.com/users/mtrazzi">LessWrong, <a href="https://arxiv.org/search/cs?searchtype=author&query=Trazzi">arXiv</a></a><br>
			Life optimization: <a href="https://twitter.com/MichaelTrazzi/status/1210242894323503104?s=20">Thread</a>
		</strong>
			<div>

		{% include svg-icons.html %}

		</center>

		{% include analytics.html %}
	</body>
</html>
