<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} </title>

		{% include meta.html %}

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

	</head>

	<body>

		<br/>
		<br/>

		<center>
			{% include svg-icons.html %}

			<div class="wrapper-footer">
				<div class="container">
					<footer class="footer">
	
					</footer>
				</div>
			</div>

		<img border="0" height="200" src="/images/mtrazzi.jpg" width="200" align="center"/>


		<h3>Writing</h3>
		<strong align="center;">
			Offline life, time tracking & RL: <a href="https://www.reddit.com/user/MuskFeynman">Reddit</a><br>
			Machine Learning & Focus: <a href="https://medium.com/@MichaelTrazzi">Medium</a><br>
			Reinforcement Learning: <a href="https://blog.floydhub.com/author/michaeltrazzi/">FloydHub</a><br>
			AI Safety: <a href="https://www.lesswrong.com/users/mtrazzi">LessWrong, <a href="https://arxiv.org/search/cs?searchtype=author&query=Trazzi">arXiv</a></a><br>
			Life optimization: <a href="https://twitter.com/MichaelTrazzi/status/1210242894323503104?s=20">Twitter</a>
		</strong>
			<div>

		<h3>daily habits</h3>
		· <b>Yoga</b> I do half an hour of yoga just after waking up, started three weeks ago!<br>
		· <b>Meditation</b>. I sit in silence for 15 minutes a day after showering.<br>
		· <b>Writing</b> I write 750 words in my journal every day.


		<h3>challenges</h3>
		· tracked every 15 minutes of my time for ~3 years with colors<br>
		· reproduced every experiment of a 500 pages Reinforcement Learning textbook<br>
		· woke up at 4:20am every morning for a month.<br>
		· while doing above, I bet that I would work 14h a day for 14 days<br>
		<h3>intuitions / beliefs</h3>
		· we're going to reach Artificial General Intelligence soonish<br>
		<h3>how I get money</h3>
		· software engineering as a freelance.<br>
		· might be doing deep learning for analyzing medical images next year.<br>

		<h3>currently reading</h3>
		· Harry Potter and the Methods of Rationality (~page 400)<br>
		· Thinking Fast and Slow (page 100)<br>

		<h3>books that influenced me</h3>
		· Superintelligence<br>
		· Rationality: From AI to Zombies<br>
		· The Elephant is in the brain<br>

		<h3>blogs I like</h3>
		· <a href="https://guzey.com/">Guzey</a>

		</center>

		{% include analytics.html %}
	</body>
</html>
