---
layout: default
---
<header>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

I am the founder and CEO of <a href="https://theinsideview.ai">The Inside View</a>, a media company producing content about AI, including documentaries such as "The Hunger Strike To Stop The AI Race" (<a href="https://www.youtube.com/watch?v=-qWFq2aF8ZU">Youtube</a>, <a href="https://www.imdb.com/title/tt39383639">Imdb</a>) and "SB-1047: The Battle For The Future Of AI" (<a href="https://www.youtube.com/watch?v=JQ8zhrsLxhI">Youtube</a>, <a href="https://www.imdb.com/title/tt37177244/">Imdb</a>), and <a href="https://www.youtube.com/watch?v=tpcA5T5QS30">2024: The Year of Artificial General Intelligence</a>.
